{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->


<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dentist (Mansour Salari)</title>
<link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'website/css/flexslider.css' %}">
<link rel="stylesheet" href="{% static 'website/css/jquery.fancybox.css' %}">
<link rel="stylesheet" href="{% static 'website/css/main.css' %}">
<link rel="stylesheet" href="{% static 'website/css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'website/css/font-icon.css' %}">
<link rel="stylesheet" href="{% static 'website/css/animate.min.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>


<body>
<!-- header section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="{% url 'index'%}"><i class="icon icon-anchor"></i> Dentist(Mansour Salari)</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
		      <li><a href="{% url 'index'%}">Home</a></li>
          <li><a href="{% url 'index'%}">Treatments</a></li>
          <li><a href="{% url 'index'%}">About</a></li>
          <li><a href="{% url 'index'%}">Gallery</a></li>
          <li><a href="{% url 'index'%}">Our Team</a></li>
          <li><a href="{% url 'index'%}">Testimonials</a></li>
          <li><a href="{% url 'contact'%}">Contact</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>



<!-- contact section -->
<section id="contact" class="section">
  <div class="container">
      <div class="section-header">
            <h2 class="wow fadeInDown animated">Contact Us</h2>
            <p class="wow fadeInDown animated"></p>
      </div>

    {% if name %}
      <center><h3>Thanks dear {{name}}</h3>
      we received your message and will contact you shortly...<br><br></br></center>
    {% endif %}
    <div class="row">
      <div class="col-md-8 col-md-offset-2 conForm">
        <div id="message"></div>
        <form method="post" action="{% url 'contact'%}">
          {% csrf_token %}
          <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
          <input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
          <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Message..."></textarea>
          <input type="submit" id="submit" name="send" class="submitBnt" value="Send">
          <div id="simple-msg"></div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- contact section -->
<!-- Footer section -->
<footer class="footer">
<div class="container-fluid">
<div id="map-row" class="row">
    <div class="col-xs-12">
      <iframe width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="yes" aria-hidden="false" tabindex="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1618.4722860774639!2d51.38478153103238!3d35.77673787112391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e07b4798fbebf%3A0xd088fd53f30c7068!2sTurism%20Bank!5e0!3m2!1sen!2s!4v1606166582817!5m2!1sen!2s" ></iframe>
        <div id="map-overlay" class="col-xs-5 col-xs-offset-6" style="">
      		<h2 style="margin-top:0;color:#fff;">Contact us</h2>
    		<address style="color:#fff;">
    	  	<strong>Company name</strong><br>
    		 	5 noor Street, 24 Farhang Bulv<br>
    		 	Tehran, Tehran<br>
    		 	Iran<br>
    		 	123456789<br>
    		 	<abbr title="Phone">Tel:</abbr> (+98) 9123803830
    		</address>

    	</div>
    </div>
   </div>
 </div>
</footer>
<!-- Footer section -->
<!-- JS FILES --><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'website/js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'website/js/modernizr.js' %}"></script>
<script src="{% static 'website/js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/jquery.contact.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/jquery.devrama.slider.min-0.9.4.js' %}"></script>
<script type="text/javascript">
		$(document).ready(function(){
			$('.slider-banner').DrSlider({
				'transition': 'fade',
				showNavigation: false,
				progressColor: "#03A9F4"
			});
		});
	</script>
</body>
</html>
